# Android Studio
.idea/
.gradle/
/local.properties
/captures
.externalNativeBuild/
.cxx/

# Gradle Build Output
/build
/app/build

# Local Android SDK
sdk/

# Local configuration file (Crucial for API Key security!)
local.properties