# *.iml
# .gradle
# /local.properties
# /.idea/caches
# /.idea/libraries
# /.idea/modules.xml
# /.idea/workspace.xml
# /.idea/navEditor.xml
# /.idea/assetWizardSettings.xml
# .DS_Store
# /build
# /captures
# .externalNativeBuild
# .cxx
# local.properties



# Android Studio
.idea/
.gradle/
/local.properties
/captures
.externalNativeBuild/
.cxx/

# Gradle Build Output
/build
/app/build

# Local Android SDK
sdk/

# Local configuration file (Crucial for API Key security!)
local.properties